# ç´„ç¶­å®‰è¨ˆç•«ï¼šPandas

> ç¬¬ä¸‰åäº”é€±

![](pandas_logo.jpeg)

ä¾†æºï¼š<https://pandas.pydata.org/about/citing.html>

## Pandas èˆ‡ç†Šè²“çš„é—œä¿‚

åœ¨ Pandas æ¨¡çµ„å•ä¸–ä»¥å‰ï¼ŒPython ç¼ºå°‘ä¸€å€‹èˆ‡ Excel è©¦ç®—è¡¨ã€R data.frameã€SAS Datasets æˆ– Matlab table åŠŸèƒ½ç›¸ä¼¼çš„è³‡æ–™çµæ§‹ï¼ŒPandas ä½œè€… Wes McKinney èªç‚ºè¡¨æ ¼å¼è³‡æ–™ï¼ˆæˆ–ç¨±æœ‰æ¨™ç±¤çš„äºŒç¶­é™£åˆ— Labeled two-dimensional arraysï¼‰æ˜¯ Python åœ¨è³‡æ–™ç§‘å­¸ä¸Šçš„æœ€å¾Œä¸€å¡Šæ‹¼åœ–ï¼Œå› æ­¤ä»–çµåˆäº† Python åŸç”Ÿè³‡æ–™çµæ§‹ tuple èˆ‡ set çš„ç‰¹æ€§ï¼Œå‰µé€ å‡º Index é¡åˆ¥ï¼Œä¸¦é€²ä¸€æ­¥å°‡ Index é¡åˆ¥æ•´åˆäº† NumPy æ¨¡çµ„çš„ ndarray é¡åˆ¥ï¼Œå‰µé€ å‡º Series é¡åˆ¥èˆ‡ DataFrame é¡åˆ¥ï¼Œå…¶ä¸­ Series é¡åˆ¥æ˜¯åœ¨ä¸€ç¶­é™£åˆ—åŠ ä¸Šä¸€çµ„æ¨™ç±¤ã€DataFrame é¡åˆ¥æ˜¯åœ¨äºŒç¶­é™£åˆ—åŠ ä¸Šå…©çµ„æ¨™ç±¤ã€‚

ï¼ˆæ²’ä»€éº¼ç”¨çš„å†·çŸ¥è­˜ï¼‰åœ¨æ›´æ—©æœŸçš„ Pandas ç‰ˆæœ¬ä¸­ï¼Œé‚„æœ‰ Panel é¡åˆ¥æ˜¯åœ¨ä¸‰ç¶­é™£åˆ—åŠ ä¸Šä¸‰çµ„æ¨™ç±¤ï¼Œå› æ­¤ Panelã€DataFrame èˆ‡ Series å–é–‹é ­çš„æ•¸å€‹è‹±æ–‡å­—æ¯çµåˆï¼Œæ°å·§å°±æ˜¯ Pandasï¼Œæœ‰æ­¤ä¸€èªªé€™æ˜¯æ¨¡çµ„å‘½åç·£ç”±ï¼Œå› æ­¤ Pandas èˆ‡ç†Šè²“çš„é—œä¿‚å¯ä»¥èªªæ˜¯å…«ç«¿å­æ‰“ä¸è‘—ï¼Œä¸é Panel é¡åˆ¥å¾ˆå¿«åœ°è¢«æ£„ç”¨ï¼ˆDeprecatedï¼‰ï¼Œå› æ­¤ç¾ä»Š Pandas ä¸»è¦çš„ä¸‰å€‹é¡åˆ¥ç‚º Indexã€Series èˆ‡ DataFrameã€‚

## å®‰è£èˆ‡è¼‰å…¥ Pandas

Pandas çš„å®‰è£å¯ä»¥é€é pip æˆ–è€… condaï¼Œå¦‚æœè®€è€…çš„ Python æ˜¯å¾ Python.org ä¸‹è¼‰çš„å°±ç›´æ¥é€é pip å®‰è£ï¼Œå‡å¦‚æ˜¯ç´„ç¶­å®‰è¨ˆç•«çš„æˆå“¡ï¼ŒPython æ‡‰è©²æ˜¯ Miniconda ç‰ˆæœ¬ï¼Œé‚£éº¼å»ºè­°å¯ä»¥é€é conda å®‰è£ã€‚

```bash
$ pip install pandas==MAJOR.MINOR.PATCH
$ conda install pandas==MAJOR.MINOR.PATCH
```

å¦‚æœå¸Œæœ›å¾æ—¢æœ‰çš„ Pandas ç‰ˆæœ¬æ›´æ–°å‡ç´šï¼Œå¯ä»¥åœ¨ install æŒ‡ä»¤ä¹‹å¾ŒåŠ ä¸Š -U æˆ– --update-deps åƒæ•¸ã€‚

```bash
$ pip install -U pandas==MAJOR.MINOR.PATCH
$ conda install -c conda-forge --update-deps pandas==MAJOR.MINOR.PATCH
```

å®˜æ–¹æ–‡ä»¶å»ºè­°è¼‰å…¥æ¨¡çµ„çš„æ‰€æœ‰åŠŸèƒ½ä¸¦ä¸”ç¸®å¯«ç‚º pdã€‚

In [1]:
import pandas as pd

åˆ©ç”¨å…©å€‹æ¨¡çµ„å…§å»ºå±¬æ€§æª¢è¦– Pandas çš„å®‰è£ç‰ˆæœ¬èˆ‡è·¯å¾‘ã€‚

In [2]:
print(pd.__version__)
print(pd.__file__)

2.0.3
/Users/kuoyaojen/miniconda3/lib/python3.11/site-packages/pandas/__init__.py

## æ€æ¨£å­¸å¥½ Pandas

å­¸å¥½ Pandas çš„é—œéµæ˜¯ç†è§£å…¶æ ¸å¿ƒçš„ä¸‰å€‹ä¸»è¦é¡åˆ¥ä»¥åŠå®ƒçš„æ ¹åŸºé¡åˆ¥ ndarrayï¼Œç­è§£å››å€‹é¡åˆ¥å½¼æ­¤ä¹‹é–“çš„é—œä¿‚ï¼Œå°±èƒ½æŒæ¡ Pandas å…¥é–€èˆ‡é€²éšçš„æŠ€å·§ã€‚

- NumPy çš„ ndarray é¡åˆ¥æ˜¯ä¸€ç¨®å¯ä»¥é€²è¡Œå‘é‡åŒ–é‹ç®—çš„å¤šç¶­åº¦é™£åˆ—ã€‚
- Pandas çš„ Index é¡åˆ¥æ˜¯ä¸€ç¨®çµåˆäº† Python åŸç”Ÿè³‡æ–™çµæ§‹ tuple èˆ‡ set ç‰¹æ€§çš„ä¸€ç¶­è³‡æ–™çµæ§‹ã€‚
- Pandas çš„ Series é¡åˆ¥æ˜¯åœ¨ä¸€ç¶­ ndarray ä¸Šæ·»åŠ ä¸€çµ„ Index é¡åˆ¥çš„è³‡æ–™çµæ§‹ã€‚
- Pandas çš„ DataFrame é¡åˆ¥æ˜¯åœ¨äºŒç¶­ ndarray ä¸Šæ·»åŠ å…©çµ„ Index é¡åˆ¥çš„è³‡æ–™çµæ§‹ï¼Œä¹Ÿå¯ä»¥æƒ³æˆæ•¸å€‹ Series é¡åˆ¥å…±äº«ç›¸åŒçš„ Index é¡åˆ¥ã€‚

## å¦‚ä½•å‰µé€  Index

ä»¥ Index é¡åˆ¥è½‰æ›ä¸€ç¶­è³‡æ–™çµæ§‹å‰µé€  Indexã€‚

In [3]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
prime_indices = pd.Index(primes)
print(prime_indices)
print(type(prime_indices))

Index([2, 3, 5, 7, 11, 13, 17, 19, 23, 29], dtype='int64')
<class 'pandas.core.indexes.base.Index'>

Index é¡åˆ¥å…·å‚™äº† Python åŸç”Ÿè³‡æ–™çµæ§‹ tuple èˆ‡ set ç‰¹æ€§ï¼Œæˆ‘å€‘é¦–å…ˆè§€å¯Ÿå®ƒçš„ tuple ç‰¹æ€§ï¼šä¸å¯æ›´å‹•ï¼ˆImmutableï¼‰ã€‚

In [4]:
try:
    prime_indices[-1] = 31
except TypeError as e:
    print(e)

Index does not support mutable operations

æ¥è‘—æˆ‘å€‘å†è§€å¯Ÿå®ƒçš„ set ç‰¹æ€§ï¼šé›†åˆé‹ç®—ï¼ˆSet operationï¼‰ã€‚

In [5]:
odds = range(1, 30, 2)
odd_indices = pd.Index(odds)
print(prime_indices.intersection(odd_indices))
print(prime_indices.union(odd_indices))
print(prime_indices.symmetric_difference(odd_indices))
print(prime_indices.difference(odd_indices))
print(odd_indices.difference(prime_indices))

Index([3, 5, 7, 11, 13, 17, 19, 23, 29], dtype='int64')
Index([1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29], dtype='int64')
Index([1, 2, 9, 15, 21, 25, 27], dtype='int64')
Index([2], dtype='int64')
Index([1, 9, 15, 21, 25, 27], dtype='int64')

## å¦‚ä½•å‰µé€  Series

ä»¥ Series é¡åˆ¥è½‰æ›ä¸€ç¶­è³‡æ–™çµæ§‹å‰µé€  Seriesã€‚

In [6]:
prime_series = pd.Series(primes)
print(prime_series)
print(type(prime_series))

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
8    23
9    29
dtype: int64
<class 'pandas.core.series.Series'>

æˆ‘å€‘é¦–å…ˆè§€å¯Ÿ Series æ˜¯åœ¨ä¸€ç¶­ ndarray ä¸Šæ·»åŠ ä¸€çµ„ Index é¡åˆ¥çš„ç‰¹æ€§ã€‚

In [7]:
print(type(prime_series.index))
print(type(prime_series.values))

<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.ndarray'>

å»ºç«‹ Series çš„æ™‚å€™ï¼Œæˆ‘å€‘å¯ä»¥é¸æ“‡è‡ªè¨‚å…¶æ·»åŠ çš„ Index é¡åˆ¥ï¼Œé è¨­æ˜¯ä½¿ç”¨å¾é›¶é–‹å§‹çš„æ•¸åˆ—ã€‚

In [8]:
prime_series = pd.Series(primes, index=range(1, 11))
print(prime_series)
print(prime_series.index)

1      2
2      3
3      5
4      7
5     11
6     13
7     17
8     19
9     23
10    29
dtype: int64
RangeIndex(start=1, stop=11, step=1)

ç”±æ–¼ Series çš„çµ„æˆä¸­æœ‰ä¸€å€‹ ndarrayï¼Œåœ¨æ“ä½œä¸Šå…·å‚™äº†æ‰€æœ‰ ndarray ç‰¹æ€§ï¼ŒåŒ…å«å‘é‡åŒ–é‹ç®—ã€è¯éº—ç´¢å¼•ï¼ˆFancy indexingï¼‰ä»¥åŠå¸ƒæ—ç´¢å¼•ï¼ˆBoolean indexingï¼‰ã€‚

In [9]:
print(prime_series**2) # Vectorization
print(prime_series[[6, 8, 9]]) # Fancy indexing
print(prime_series[prime_series >= 10]) # Boolean indexing

1       4
2       9
3      25
4      49
5     121
6     169
7     289
8     361
9     529
10    841
dtype: int64
6    13
8    19
9    23
dtype: int64
5     11
6     13
7     17
8     19
9     23
10    29
dtype: int64

## å¦‚ä½•å‰µé€  DataFrame

ä»¥ DataFrame é¡åˆ¥è½‰æ›äºŒç¶­è³‡æ–™çµæ§‹æˆç‚º DataFrameï¼Œç”±æ–¼ DataFrame æ˜¯åœ¨äºŒç¶­ ndarray ä¸Šæ·»åŠ å…©çµ„ Index é¡åˆ¥çš„è³‡æ–™çµæ§‹ï¼Œåœ¨å»ºç«‹çš„æ™‚å€™æˆ‘å€‘èƒ½å¤ é¸æ“‡ä»¥æ¬„ç‚ºå–®ä½ï¼ˆColumn-wiseï¼‰æˆ–è€…ä»¥åˆ—ç‚ºå–®ä½ï¼ˆRow-wiseï¼‰å…©ç¨®è¼¸å…¥è³‡æ–™çš„æ–¹å¼ã€‚

é¦–å…ˆä»¥æ¬„ç‚ºå–®ä½è¼¸å…¥è³‡æ–™å»ºç«‹ DataFrameã€‚

In [10]:
movie_df = pd.DataFrame()
movie_df["title"] = ["The Shawshank Redemption", "The Dark Knight", "Schindler's List", "Forrest Gump", "Inception"]
movie_df["imdb_rating"] = [9.3, 9.0, 8.9, 8.8, 8.7]
print(type(movie_df))
movie_df

<class 'pandas.core.frame.DataFrame'>

                      title  imdb_rating
0  The Shawshank Redemption          9.3
1           The Dark Knight          9.0
2          Schindler's List          8.9
3              Forrest Gump          8.8
4                 Inception          8.7

äº¦å¯ä»¥åˆ—ç‚ºå–®ä½è¼¸å…¥è³‡æ–™å»ºç«‹ DataFrameï¼Œåˆ©ç”¨ Python åŸç”Ÿè³‡æ–™çµæ§‹ list å»çµåˆå¤šçµ„éµï¼ˆKeyï¼‰éƒ½ç›¸åŒçš„ dictã€‚

In [11]:
movie_list = [
    {"title": "The Shawshank Redemption", "imdb_rating": 9.3},
    {"title": "The Dark Knight", "imdb_rating": 9.0},
    {"title": "Schindler's List", "imdb_rating": 8.9},
    {"title": "Forrest Gump", "imdb_rating": 8.8},
    {"title": "Inception", "imdb_rating": 8.7}
]
movie_df = pd.DataFrame(movie_list)
print(type(movie_df))
movie_df

<class 'pandas.core.frame.DataFrame'>

                      title  imdb_rating
0  The Shawshank Redemption          9.3
1           The Dark Knight          9.0
2          Schindler's List          8.9
3              Forrest Gump          8.8
4                 Inception          8.7

æˆ‘å€‘å¯ä»¥è§€å¯Ÿåˆ° DataFrame æ˜¯åœ¨äºŒç¶­ ndarray ä¸Šæ·»åŠ å…©çµ„ Index é¡åˆ¥çš„ç‰¹æ€§ã€‚

In [12]:
print(type(movie_df.values))
print(type(movie_df.index))
print(type(movie_df.columns))

<class 'numpy.ndarray'>
<class 'pandas.core.indexes.range.RangeIndex'>
<class 'pandas.core.indexes.base.Index'>

å…¥é–€ Pandas ä¹‹å¾Œï¼Œæˆ‘å€‘å°±èƒ½å¤ åœ¨ä¸‹æ¬¡çš„é›»å­å ±ä¸­åŸºç¤çš„è³‡æ–™æ¡†æ“ä½œæŠ€å·§ã€‚ç¬¬ä¸‰åäº”é€±ç´„ç¶­å®‰è¨ˆç•«ï¼šPandas ä¾†åˆ°å°¾è²ï¼Œå¸Œæœ›æ‚¨ä¹Ÿå’Œæˆ‘ä¸€æ¨£æœŸå¾…ä¸‹ä¸€ç¯‡æ–‡ç« ã€‚å°æ–¼é€™ç¯‡æ–‡ç« æœ‰ä»€éº¼æƒ³æ³•å‘¢ï¼Ÿå–œæ­¡ğŸ˜»ã€ç•™è¨€ğŸ™‹â€â™‚ï¸æˆ–è€…åˆ†äº«ğŸ™Œ